<table class="entry">
    <tr>
        <td></td>
        <td>Name</td>
        <td>Amount($)</td>
        <td>Interest(%)</td>
        <td>Term (Months)</td>
        <td>Min Payment</td>
    </tr>
    <tr class="loanEntryRow">
        <td>
            <div class="removeButton" ng-click="RemoveLoan(loan)">X</div>
        </td>
        <td>
            <input class="nameInput" type="text" ng-model="loan.name" placeholder="Loan Name">
        </td>
        <td>
            <input class="amountInput" type="number" min="0" step="any" ng-model="loan.principle" ng-change="CalculateMinimumPayment(loan)" required>
        </td>
        <td>
            <input class="interestInput" type="number" min="0" max="99" step="any" ng-model="loan.interestRate" ng-change="CalculateMinimumPayment(loan)" required>
        </td>
        <td>
            <input class="termInput" type="number" min="0" max="10000" ng-model="loan.term" ng-change="CalculateMinimumPayment(loan)" required>
        </td>
        <td>
            {{loan.minimumMonthlyPayment | currency}}
        </td>
        
<!--
        <td>
            Enter your total monthly payment:
            <input type="number" step="any" ng-model="totalMonthlyPayment">
        </td>
-->
    </tr>
</table>