<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Debt Descent</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href=""/>
    </head>
    <body ng-app="DebtDescent" ng-controller="DebtController">
        <form>
            <div ng-repeat="loan in loans">
                <dd-loan-entry loans="loans" loan="loan"></dd-loan-entry>
            </div> 
            <br /><br />
            <button onclick="showTable();" ng-click="GenerateSchedules()">Generate Schedule</button> 
<!--            <button onclick="showTable();" ng-click="Amortization(initialPrinciple, interestRate, loanTerm, totalMonthlyPayment)">Generate Schedule</button> -->
            <button ng-click="AddLoan()">Add Another</button>
        </form>
<!--
        <div ng-repeat="loanSchedule in loans">
            <table id="amortizationSchedule">
                <th>Date</th>  
                <th>Payment</th>
                <th>principle</th>
                <th>interest</th>
                <th>Balance</th>
                <tbody ng-repeat="payment in loanSchedule">
                    <tr>
                        <td>{{payment.date}}</td>
                        <td>{{payment.paymentAmount | currency}}</td>
                        <td>{{payment.towardPrinciple | currency}}</td>
                        <td>{{payment.towardInterest | currency}}</td>
                        <td>{{payment.principleRemaining | currency}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
-->
        
        <script src="app.js"></script>
        <script src="Controller.js"></script>
        <script src="ddLoanEntry.js"></script>
        <script>
            //var table = document.getElementById("amortizationSchedule");
            //table.style.visibility = "hidden";
            
            function showTable(){
                //table.style.visibility = "visible";
            }
        </script>
    </body>

</html>