<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Debt Descent</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body ng-app="DebtDescent" ng-controller="DebtController">
        <form>
            <div ng-repeat="loan in loans">
                <dd-loan-entry loans="loans" loan="loan"></dd-loan-entry>
            </div> 
            <br /><br />
            <p>Payoff Methods</p>
            <br />
            <div id="payoffOptions">
                <div class="payoffOption" ng-class="{selected: noneSelected}" ng-click="SwitchToNoMethod()">None</div>
                <div class="payoffOption" ng-class="{selected: avalancheSelected}" ng-click="SwitchToAvalancheMethod()">Avalanche</div>
                <div class="payoffOption" ng-class="{selected: snowballSelected}" ng-click="SwitchToSnowballMethod()">Snowball</div> 
            </div>
            <br /><br />
            <button onclick="showTables();" ng-click="GenerateSchedules()">Generate Schedule</button> 
<!--            <button onclick="showTable();" ng-click="Amortization(initialPrinciple, interestRate, loanTerm, totalMonthlyPayment)">Generate Schedule</button> -->
            <button ng-click="AddLoan()">Add Another</button>
        </form>
        <div> 
            <table id="allSchedules">
                <tbody ng-repeat="loan in loans">
                    <tr>
                        <td>
                            <h2 class="loanTitle">{{loan.name}}</h2>
                            <div class="loanDetail">
                                <table class="loanDetailTable">
                                    <th>Principle</th>
                                    <th>APR</th>
                                    <th>Term</th>
                                    <th>Min Payment</th>
                                    <tbody>
                                        <tr>
                                            <td>{{loan.principle | currency}}</td>
                                            <td>{{loan.interestRate}}%</td>
                                            <td>{{loan.term}} Mos</td>
                                            <td>{{loan.minimumMonthlyPayment | currency}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>Total Cost With Interest: {{RetrieveTotalPaid(loan) | currency}} </p>
                                <p>Payoff Date: {{RetrievePayoffDate(loan)}}</p>
                            
                            <br />
                            <div class="showSchedule" ng-click="hiddenSchedule = !hiddenSchedule">Show Payment Schedule</div>
                            <div ng-show="hiddenSchedule" class="amortizationSchedule">
                                <table >
                                    <th>Date</th>  
                                    <th>Payment</th>
                                    <th>principle</th>
                                    <th>interest</th>
                                    <th>Balance</th>
                                    <tbody ng-repeat="payment in loan.schedule">
                                        <tr>
                                            <td>{{payment.date}}</td>
                                            <td>{{payment.paymentAmount | currency}}</td>
                                            <td>{{payment.towardPrinciple | currency}}</td>
                                            <td>{{payment.towardInterest | currency}}</td>
                                            <td>{{payment.principleRemaining | currency}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <script src="app.js"></script>
        <script src="Controller.js"></script>
        <script src="ddLoanEntry.js"></script>
        <script>
            //$('.amortizationSchedule table').hide();
            var tables = document.getElementById("allSchedules");
            tables.style.visibility = "hidden";
            
            function showTables(){
                tables.style.visibility = "visible";
            }
            
           
//            $(function (){
//                $('.showSchedule').click(function (e) {
//                    e.preventDefault();
//                    var $this = $(this).parent().find('table');
//                    $(".amortizationSchedule table").not($this).hide();
//                    $this.toggle();
//                    //$(this).next('table').slideToggle();
//
//                    //$(this).parent().siblings().children().next().slideUp();
//                    //return false;
//                });
//            });
        </script>
    </body>

</html>