*{
    font-family: 'Cutive Mono', sans-serif;   
}

.entry{
 margin:0 auto;
 width:90%;
}

input{
 height:30px;
 border-radius:5px;
 font-size: 15px;
}

.amountInput{
 width:150px;   
}

.interestInput{
 width:90px;   
}

.termInput{
 width:120px;
}

.loanEntryRow{
 font-size:15px;   
}

.removeButton{
 font-size:20px;
 width:30px;
 height:30px;
 background-color: lightgray;
 text-align: center;
 line-height: 30px;
 border:1px solid #000000;
}

#belowEntry{
 width:90%;
 margin:0 auto;
}

button{
    height:30px; 
    width:75px;
}

#payoffOptions{
    margin:0 auto;
}
    #payoffOptions .payoffOption{
        display:inline;
        width:200px;
        height:150px;
        border:1px solid cadetblue;
        background-color:#ffffff;
        color:#000000;
        padding:15px;
    }
        #payoffOptions .payoffOption.selected{
            border:1px solid cadetblue;
            background-color: cadetblue;
            color:#ffffff;
        }
.allSchedules{
    width:95%;
    margin:0 auto;
}

.loanDetail{
    width:80%;
    margin:0 auto;
}
.loanDetailTable{
    width:100%;
    background-color:lightgray;
}
    .loanDetailTable td{
        text-align: center;
    }
.showSchedule{
    width:60%;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin:0 auto;
    background-color: cadetblue;
}

.amortizationSchedule table{
    width:100%;
}
    .amortizationSchedule table td{
        text-align: center;
    }