#payoffOptions{
    margin:0 auto;
}
    #payoffOptions .payoffOption{
        display:inline;
        width:200px;
        height:150px;
        border:1px solid cadetblue;
        background-color:#ffffff;
        color:#000000;
        padding:15px;
    }
        #payoffOptions .payoffOption.selected{
            border:1px solid cadetblue;
            background-color: cadetblue;
            color:#ffffff;
        }
.allSchedules{
    width:95%;
    margin:0 auto;
}

.loanDetail{
    width:80%;
    margin:0 auto;
}
.loanDetailTable{
    width:100%;
    background-color:lightgray;
}
    .loanDetailTable td{
        text-align: center;
    }
.showSchedule{
    width:60%;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin:0 auto;
    background-color: cadetblue;
}

.amortizationSchedule table{
    width:100%;
}
    .amortizationSchedule table td{
        text-align: center;
    }